body {
  display: grid;
  place-content: center;
  min-height: 100svh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #242424;
}

.main {
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid white;
  /* border-radius: 50%; */
}

.main hr {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
}
.main .horizontal {
  top: 50px;
  left: 0;
}

.main .vertical {
  rotate: -90deg;
  right: 50px;
  transform-origin: right;
}
.circle {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50px;
  top: 50px;
  /* transform-origin: center; */
  /* rotate: 50deg; */

  border: 1px solid tomato;
}
